{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container mt-5">
  <div class="row">
      <!-- Text content on the left side -->
      <div class="col-md-6">
        <div class="header-space"></div>
          <h1>Stephanie Chen</h1>
          <p>Computer Science Graduate | Freelancing </p><br>
          <p>Hello! I'm Stephanie Chen, a Computer Science graduate from Oregon State University. During my gap year, I enhanced my skills through various projects and certifications, and I'm eager to start my career as a software engineer.</p>
          <br>
          <section class="skills">
            <h5>My Skills</h5>
            <ul>
              <li>Languages: JavaScript, Python</li>
              <li>Front-end: React, Bootstrap, Tailwind</li>
              <li>Back-end: Express.js, Django, FastAPI</li>
              <li>AI: OpenAI</li>
              <li>Databases: SQL, MongoDB</li>
              <li>Infra: AWS</li>
              <li>DevOps: Git, Docker, CI/CD</li>
              
      </div>

      <!-- Image on the right side -->
      <div class="col-md-6">
        <img src="{% static 'self.jpeg' %}" class="rounded-image">
      </div>
      
  </div>
</div>
<br><br>
<div class="blue-line"></div>
<h2 class="mt-5">Portfolio</h2>
<hr>

<div class="projects-row">
  {% for project in projects %}

  <div class="column">


    <img src="{{ project.image.url }}" class="img-fluid">
    {% if project.url %}
    <a href="{{ project.url }}">
   
    <h5>{{ project.title }}</h5>
    </a>
    {% endif %}
    <p>{{ project.description }}</p>

    <div class="tech_stack"><p>{{ project.tech_stack }}</p></div>
  </div>
  {% endfor %}
</div>

{% endblock %}